# Entornos virtuales
venv/
.venv/
env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Modelos entrenados (Es mejor que se generen al ejecutar el .bat)
models/*.pkl

# Variables de entorno con contraseñas
.env

# Archivos temporales de editores
.vscode/
.idea/
.DS_Store